<template>
  <article class="card" tabindex="0" v-on:click="onClickEvent()">
    <!-- CARD HEADER -->
    <header>
      <div
        class="content-header-container"
        :class="{ reverse: content.reverseHeader }"
      >
        <div
          class="placeholder cover"
          v-if="content.imageUrl && !readyState"
        ></div>
        <transition name="fade">
          <!-- BACKGROUND COVER -->

          <div
            :class="content.imageAspect ? content.imageAspect : ''"
            v-if="content.imageUrl && readyState"
            :style="{ backgroundImage: `url(${content.imageUrl})` }"
            class="cover"
          >
            <!-- KEEP ASPECT-RATIO IMAGE -->

            <img
              v-if="content.imageAspect === 'full'"
              :src="content.imageUrl"
              alt="image of something"
            />
          </div>
        </transition>
        <div class="info">
          <div
            v-if="content.thumbnail && !readyState"
            class="placeholder for-thumbnail"
          ></div>
          <transition name="fade">
            <!-- THUMBNAIL PHOTO -->

            <div
              v-if="content.thumbnail && readyState"
              :style="{ backgroundImage: `url(${content.imageUrl})` }"
              class="thumbnail"
            ></div>
          </transition>
          <div class="text">
            <div
              class="placeholder text"
              v-if="(content.title || content.subtitle) && !readyState"
            ></div>
            <transition name="fade">
              <!-- CARD TITLE -->

              <h2 v-if="content.title && readyState">
                {{ content.title }}
              </h2>
            </transition>
            <transition name="fade">
              <!-- CARD SUBTITLE -->

              <p v-if="content.subtitle && readyState">
                {{ content.subtitle }}
              </p>
            </transition>
          </div>
        </div>
      </div>
    </header>
    <div class="body-placeholder" v-if="content.body && !readyState">
      <div class="placeholder for-body"></div>
      <div class="placeholder for-body"></div>
      <div class="placeholder for-body"></div>
    </div>
    <transition name="fade">
      <!-- CARD BODY WITH HTML SUPPORT -->

      <p
        class="body"
        v-if="content.body && readyState"
        v-html="content.body"
      ></p>
    </transition>
    <transition name="fade">
      <!-- CARD FOOTER WITH HTML SUPPORT -->

      <footer
        v-if="content.footer && readyState"
        v-html="content.footer"
      ></footer>
    </transition>
  </article>
</template>
<style>
.card {
  width: 30%;
  height: auto;
  align-self: stretch;
  margin-top: 46px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  font-size: 16px; /* emerald base */
  transition: all 0.5s ease;
}
.card:focus {
  box-shadow: 0 0 0 4px rgba(213, 212, 230, 0.6);
}
.card:hover,
.card:active {
  background-color: #f7f7f7;
}
.card button {
  display: flex;
  margin: 10px auto;
}
.card.ready {
  opacity: 1;
}
.card header .info {
  padding: 25px 25px 0 25px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}

.content-header-container {
  display: flex;
  flex-direction: column;
}
.content-header-container.reverse {
  flex-direction: column-reverse;
}
.reverse .info {
  padding-bottom: 20px !important;
}
.card header .info .text p,
h2 {
  padding: 0;
  margin: 0;
}
.card header .info .text h2 {
  color: #2d2d2d;
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.card header .info .text p {
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e6e;
  font-size: 0.85em;
  font-weight: 600;
  margin-top: 6px;
}
.card header .info .thumbnail {
  border-radius: 50%;
  overflow: hidden;
  min-width: 64px;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  margin-right: 24px;
}
.card .body {
  padding: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  font-size: 0.95em;
  line-height: 1.35em;
  color: #2d2d2d;
}
.card p.body {
  margin: 0;
}
.cover {
  width: 100%;
  height: 300px;
  transition: all 0.5s ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Placeholder */

.placeholder {
  background: linear-gradient(270deg, #eee, #ccc);
  background-size: 400% 400%;
  -webkit-animation: AnimateGradient 2s ease infinite;
  -moz-animation: AnimateGradient 2s ease infinite;
  animation: AnimateGradient 2s ease infinite;
}

.placeholder.cover {
  width: 100%;
  height: 200px;
}
.placeholder.text {
  width: 100px;
  height: 30px;
  content: "&nbsp;";
}

.placeholder.for-thumbnail {
  border-radius: 50%;
  overflow: hidden;
  min-width: 64px;
  width: 64px;
  height: 64px;
  margin-right: 24px;
}

.body-placeholder {
  margin: 25px;
}
.placeholder.for-body:nth-child(1) {
  width: 60%;
}
.placeholder.for-body:nth-child(2) {
  width: 80%;
  opacity: 0.7;
}
.placeholder.for-body:nth-child(3) {
  width: 70%;
  opacity: 0.4;
}
.placeholder.for-body {
  margin-bottom: 8px;
  width: 80%;
  height: 16px;
}

@-webkit-keyframes AnimateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* VUE SPECIFIC */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.cover img {
  width: 100%;
}
.cover.full {
  height: auto;
  background-image: none;
}
.cover.compact {
  height: 200px;
}

.card footer {
  padding: 25px;
  border-top: 1px solid #d5d5d5;
}
.card footer p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e6e;
  font-size: 0.84em;
  font-weight: 600;
}

@media (max-width: 800px) {
  .card {
    width: 45%;
  }
  .card header .info .thumbnail {
    display: none;
  }
}

@media (max-width: 640px) {
  .card {
    width: 80%;
  }
}

@media (min-width: 2560px) {
  .card {
    font-size: 32px;
  }
}

@media (min-width: 3840px) {
  .card {
    font-size: 44px;
  }
}
</style>
<script>
export default {
  props: {
    content: Object,
  },
  methods: {
    onClickEvent() {
      if (this.content.externalUrl) {
        if (window.confirm(`Do you really want to navigate to ${this.content.externalUrl} external website?`)) {
          window.open(this.content.externalUrl, "_blank");
        }
      }
      if (this.content.clickMessage) {
        alert(this.content.clickMessage);
      }
    },
  },
  data() {
    // Preloading image, only if cover image available
    let img = new Image();
    const simulatedDelay = 2000;
    this.readyState = false;

    if (this.content.imageUrl) {
      img.onload = () => {
        setTimeout(() => {
          // Note: readyState could depend on the API response, if available
          // In this demo, we just simulating a response time by 2 seconds.
          this.readyState = true;
        }, simulatedDelay);
      };
      img.src = this.content.imageUrl;
    } else {
      setTimeout(() => {
        this.readyState = true;
      }, simulatedDelay);
    }
    return {
      readyState: this.readyState,
    };
  },
};
</script>