<template>
  <div class="container">
    <Card :content="content" v-for="content in contents" :key="content.id" />
  </div>
</template>

<script>
import Card from "./components/Card.vue";

export default {
  name: "App",
  components: {
    Card,
  },
  data() {
    return {
      contents: [
        {
          title: "Compact & Reverse cover",
          reverseHeader: true,
          body: "Click event is listening here.",
          imageUrl: require("@/assets/images/gettyimages-1182454657-2048x2048.jpg"),
          imageAspect: "compact",
          externalUrl: "https://www.kasasmart.com"
        },
        {
          title: "Full aspect ratio",
          subtitle: "Card subtitle",
          body:
            "Lorem <strong>ipsum dolor sit amet</strong>, consectetur adipiscing elit. <strike>Suspendisse potenti. Aliquam tristique aliquam semper.</strike> ",
          imageUrl: require("@/assets/images/gettyimages-842254818-2048x2048.jpg"),
          imageAspect: "full",
          thumbnail: true,
          footer:
            "This is a <striketroughSuspendisse>card</striketroughSuspendisse> footer html",
          clickMessage: "This is a click message"
        },        
        {
          title: "Title 04",
          body: "Lorem amis",
          imageUrl: require("@/assets/images/gettyimages-1213695541-2048x2048.jpg"),
          imageAspect: "compact",
        },
        {
          title: "Card title of no cover",
          subtitle: "Card subtitle",
          body:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc metus metus, lobortis eu luctus vitae, varius vel leo. <button>HTML Button</button> Suspendisse potenti. Aliquam tristique aliquam semper. Nullam non tellus ut libero vestibulum iaculis. Mauris posuere orci eu lacus egestas, sit amet commodo ipsum elementum. Etiam pretium mauris eu libero rutrum, quis sollicitudin ex efficitur.",
          // imageUrl: require("@/assets/images/gettyimages-1134293954-2048x2048.jpg"),
        },        
      ],
    };
  },
  // async loadStarship({ id }) {
  //   const headers = { Accept: "application/json" };
  //   const res = await fetch(`https://swapi.co/api/starships/${id}/`, {
  //     headers,
  //   });
  //   if (!res.ok) throw new Error(res);
  //   return res.json();
  // },
};
</script>

<style>
body > header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
</style>
